/* This file is for your main application css. */

.help-block {
	text-transform: capitalize;
	color: red;
	position: absolute;
	top: 40px;
}

.form-group {
	position: relative;
	margin-bottom: 25px;
}